.login {
  display : none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  top: 150px;
  width: 570px;
  height: 680px;
  margin: 0px auto;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;

  .loginHeader {
    width: 100%;
    height: 65px;
    padding-top: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 1px solid rgb(207, 203, 203);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255);
  }

  .loginContianer {
    width: 500px;
    margin-left: 35px;
    display: flex;
    flex-direction: column;

    .loginInput {
      height: 155px;
      padding-top: 30px;
      flex-direction: column;
      box-sizing: content-box;

      input:focus {
        background-color: #e8f0fe;
        outline: none;
      }

      .loginInputId {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
        border: 1px solid black;
        border-radius: 5px !important;
      }
      .loginInputPw {
        width: 100%;
        height: 60px;
        border: 1px solid black;
        border-radius: 5px !important;
      }
    }

    .loginText {
      margin-top: 15px;
      font-size: 11.5px;
      color: gray;
    }

    .loginButton {
      width: 500px;
      height: 60px;
      margin-top: 30px;
      font-size: 20px;
      font-weight: bolder;
      color: rgba(255, 255, 255, 0.904);
      background-color: #dd4160;
      border-radius: 10px;
      cursor: pointer;
    }

    .line {
      position: relative;
      width: 500px;
      height: 15px;
      padding-bottom: 20px;
      border-bottom: 1px solid gray;
      text-align: center;

      .lineText {
        position: absolute;
        text-align: center;
        top: 50px;
      }
    }

    .socialLogin {
      display: flex;
      flex-direction: column;
      height: 200px;
      margin-top: 10px;

      .kakao,
      .google {
        width: 500px;
        height: 70px;
        margin-top: 10px;
        font-weight: bolder;
        border-radius: 10px;
        box-sizing: border-box;
        cursor: pointer;
      }

      .kakaoLogin {
        display: flex;
        flex-direction: row;

        .kakao {
          position: absolute;
          background-color: #ffeb00;
          font-size: 18px;
        }

        .kakaoImg {
          position: relative;
          width: 60px;
          height: 60px;
          z-index: 10;
          top: 15px;
          left: 150px;
        }
      }

      .googleLogin {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        .google {
          position: absolute;
          background-color: rgb(255, 255, 255);
          border: 1px solid black;
          font-size: 18px;
        }
        .googleImg {
          position: relative;
          width: 60px;
          height: 60px;
          z-index: 10;
          top: 15px;
          left: 150px;
        }
      }

      .joinText {
        margin-top: 40px;
        .join {
          padding-bottom: 0;
          color: rgb(41, 41, 41);
          background-color: white;
          border-bottom: 1px solid rgb(41, 40, 40);
          font-size: 16px;
          font-weight: bolder;
          cursor: pointer;
        }
      }
    }
  }
}
